<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Paralel suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>648</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>759</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>914</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-497</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-496</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-282</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:34</td>   <td>650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:33</td>   <td>-514</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:33</td>   <td>-487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">testMethod1</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:33</td>   <td>-279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]">testMethod1</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/23 13:15:33</td>   <td>-255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">testMethod1</td> 
  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:33</td>   <td>-163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">testMethod2</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/23 13:15:33</td>   <td>-147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">testMethod2</td> 
  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:34</td>   <td>317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]">testMethod2</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/23 13:15:33</td>   <td>-494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass1@3d9750]">testMethod3</td> 
  <td>TestNG@29280430</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:34</td>   <td>539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@1d384ee]">testMethod3</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:34</td>   <td>650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@c42916]">testMethod3</td> 
  <td>TestNG@20499416</td>   <td>12855574 30639342 </td> </tr>
</table>
