<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterClass()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>2</td> <td title="&lt;&lt;BaseWordListTests.afterSuit()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-48</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeClass()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>-48</td> <td title="&gt;&gt;BaseWordListTests.beforeSuit()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="989c73">  <td>15/12/17 23:16:24</td>   <td>-47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkEmptyFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">checkEmptyFilePath</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="989c73">  <td>15/12/17 23:16:24</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkNullFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">checkNullFilePath</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="989c73">  <td>15/12/17 23:16:24</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FilePathTests.checkWrongFilePath()[pri:0, instance:com.gomel.tat.home5.tests.FilePathTests@3e4ee7c0]">checkWrongFilePath</td> 
  <td>main@1002790985</td>   <td></td> </tr>
</table>
