<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>testWithData</td><td>FileNameMaskTest.checkFileNameMask()[pri:0, instance:FileNameMaskTest@16b4a017]<br/>FileNameMaskTest.checkFileNameMask()[pri:0, instance:FileNameMaskTest@2a3046da]<br/>FileNameMaskTest.checkFileNameMask()[pri:0, instance:FileNameMaskTest@8807e25]<br/>WordListTests.trueNumberWord()[pri:0, instance:WordListTests@4fccd51b]<br/></td></tr>
</table>
