<h2>Methods that were not run</h2><table>
<tr><td>com.gomel.tat.home5.TestClass1.testMethod1</td></tr>
<tr><td>com.gomel.tat.home5.TestClass2.testMethod2</td></tr>
<tr><td>com.gomel.tat.home5.TestClass2.testMethod2</td></tr>
</table>