<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SomeClass</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>0</td> <td title="&gt;&gt;BaseWordListTests.beforeSuit()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@751b1e07]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeClass()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@751b1e07]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@751b1e07]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="75b192">  <td>15/12/17 23:16:24</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DirectoryPathTests.checkWrongBaseDirectory()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@751b1e07]">checkWrongBaseDirectory</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@751b1e07]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseWordListTests.beforeMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@751b1e07]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="75b192">  <td>15/12/17 23:16:24</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DirectoryPathTests.checkEmptyBaseDirectory()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@751b1e07]">checkEmptyBaseDirectory</td> 
  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterMethod()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@751b1e07]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseWordListTests.afterClass()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@751b1e07]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
<tr bgcolor="64f383">  <td>15/12/17 23:16:24</td>   <td>54</td> <td title="&lt;&lt;BaseWordListTests.afterSuit()[pri:0, instance:com.gomel.tat.home5.tests.DirectoryPathTests@751b1e07]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1002790985</td>   <td></td> </tr>
</table>
