<h2>Methods that were not run</h2><table>
<tr><td>com.gomel.tat.home5.tests.DirectoryPathTests.checkNullBaseDirectory<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Checking directory for null path</i></td></tr>
</table>