<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Paralel suite (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:36</td>   <td>360</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:36</td>   <td>485</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-74</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:36</td>   <td>362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:36</td>   <td>534</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-408</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-408</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-241</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:36</td>   <td>361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="6f77cc">  <td>15/12/23 13:15:35</td>   <td>-410</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27602877</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:35</td>   <td>-407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@1a92922]">testMethod1</td> 
  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/23 13:15:35</td>   <td>-235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">testMethod1</td> 
  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:35</td>   <td>-226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod1()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">testMethod1</td> 
  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:35</td>   <td>-119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass2@1a92922]">testMethod2</td> 
  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/23 13:15:35</td>   <td>-118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">testMethod2</td> 
  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:35</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod2()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">testMethod2</td> 
  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="61bda8">  <td>15/12/23 13:15:35</td>   <td>-407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass1.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass1@c64813]">testMethod3</td> 
  <td>TestNG@25616751</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:35</td>   <td>243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@1a92922]">testMethod3</td> 
  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
<tr bgcolor="ccd57b">  <td>15/12/23 13:15:36</td>   <td>361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass2.testMethod3()[pri:0, instance:com.gomel.tat.home5.TestClass2@1f2a7d5]">testMethod3</td> 
  <td>TestNG@32910329</td>   <td>27863330 32679893 </td> </tr>
</table>
