<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>WordListTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>invalidDirectoryPathTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>emptyDirectoryPathTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>trueNumberWord</td>
<td>testWithData </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>emptyNamePatternTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalidNamePattern</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>removeTestData</td>
<td>&nbsp;</td></tr>
</table>
