<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ccd077">  <td>15/12/22 17:31:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.createTestDate()[pri:0, instance:WordListTests@3ada9e37]">&gt;&gt;createTestDate</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@654510436</td>   <td></td> </tr>
<tr bgcolor="64e3b2">  <td>15/12/22 17:31:01</td>   <td>-54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WordListTests.emptyDirectoryPathTest()[pri:0, instance:WordListTests@3ada9e37]">emptyDirectoryPathTest</td> 
  <td>pool-1-thread-1@654510436</td>   <td></td> </tr>
<tr bgcolor="64e3b2">  <td>15/12/22 17:31:01</td>   <td>-46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WordListTests.emptyNamePatternTest()[pri:0, instance:WordListTests@3ada9e37]">emptyNamePatternTest</td> 
  <td>pool-1-thread-1@654510436</td>   <td></td> </tr>
<tr bgcolor="64e3b2">  <td>15/12/22 17:31:01</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WordListTests.invalidNamePattern()[pri:0, instance:WordListTests@3ada9e37]">invalidNamePattern</td> 
  <td>pool-1-thread-1@654510436</td>   <td></td> </tr>
<tr bgcolor="ccd077">  <td>15/12/22 17:31:01</td>   <td>141</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.removeTestData()[pri:0, instance:WordListTests@3ada9e37]">&lt;&lt;removeTestData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@1679303158</td>   <td></td> </tr>
<tr bgcolor="ccd077">  <td>15/12/22 17:31:01</td>   <td>-91</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:WordListTests@3ada9e37]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@654510436</td>   <td></td> </tr>
<tr bgcolor="64e3b2">  <td>15/12/22 17:31:01</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WordListTests.trueNumberWord()[pri:0, instance:WordListTests@3ada9e37]">trueNumberWord</td> 
  <td>pool-1-thread-1@654510436</td>   <td></td> </tr>
</table>
